/** -- MAIN ELEMENT OF THIS PAGE -- */
.games-list-main {
    padding-top: 10vh;
    flex: 1 0 auto;
    min-height: 132.5vh; 
}

/** -- NAVBAR TO SORT GAMES BY GENRE -- */
.games-list-navbar {
    padding: 1rem;
    gap: 1.1rem;
    text-align: center;
    margin-bottom: 1rem;
    > .navbar-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 5vw;
        height: 5vw;
        transition: 0.3s ease-in-out;
        border-radius: 5%;
        > .navbar-text {
            font-size: 0.8rem;
            font-weight: 700;
            margin: 0;
            padding: 0;
            margin-top: 0.5rem;
            color: white;
            font-weight: 500;
        }
        > .navbar-icons {
            // width: 35%;
            // height: 35%;
            width: 48%;
            height: 48%;
            transition: 0.2s ease-in-out;
            color: white;
        }
        > .navbar-icons:hover {
            width: 48%;
            height: 48%;
            color: white;
        }
    }
}

/** -- DIV CONTAINING THE ENTIRE LIST -- */
.games-grid {
    > .games-grid-row {
        width: 65vw;
    }
}

/** -- Div containing one game (img, text review) -- */
.games-grid-containers {
    margin-bottom: 5rem;
    padding-right: 1rem !important;
    color: white;
    > .game-img {
        position: relative;
        margin-bottom: 0.9rem;
        width: 100%;
        overflow: hidden;
        transition: transform 0.3s !important;
    }
    > .game-img:hover {
        transform: scale(1.07);
        /* transition: 0.2s ease-in-out; */
    }
    > .game-titles {
        font-weight: bold;
        font-size: 1.3rem;
    }
    > .spinners {
        position: relative;
        top: 30%;
    }
    > .sub-container {
        color: white;
        visibility: hidden;
        > .game-genre {
            font-size: 1rem;
            font-style: italic;
            text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
        }
        > .game-review {
            font-weight: 500;
            font-size: 1.26rem;
            > .review-icon {
                font-size: 1.26rem;
                color: gold;
            }
            > .game-review-cl--green {
                color: #13bd00;
            }
            > .game-review-cl--lightgreen {
                color: #94cf0b;
            }
            > .game-review-cl--orange {
                color: #fdda01;
            }
            > .game-review-cl--red {
                color: red;
            }
        }
    }
}

.games-list-genre-title {
    color: white;
    align-self: start;
    margin-bottom: 1rem;
}
