@import url(custom-bootstrap.css);
/** -- HOVER.JS -- */

.hvr-underline-from-center:before {
    background: var(--bs-secondary);
    bottom: -1px;
}

.hvr-reveal:before {
    border-color: white;
    border-radius: 10%;
}
.hvr-reveal:hover:before {
    border-width: 1px;
}
