.games-grid-containers {
    margin-top: 10rem;
    margin-left: 2.5rem;
    width: 380px;
    padding: 0;
    color: white;

    > .game-img {
        margin-bottom: 0.9rem;
        width: 100%;
        transition: all 0.2s ease-in-out;
    }
    > .game-img:hover {
        transform: scale(1.1);
    }
    > .game-titles {
        font-weight: bold;
        font-size: 1.3rem;
    }
}

.game-grid-sub-containers {
    color: white;
    > .game-price {
        padding-right: 6.4rem;
        font-weight: 500;
        font-size: 1.26rem;
    }
    > .game-genre {
        font-size: 1rem;
        font-style: italic;
        text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    }
    > .game-review {
        font-weight: 500;
        font-size: 1.26rem;
        > .review-icon {
            font-size: 1.26rem;
            color: gold;
        }
        > .game-review-cl--green {
            color: #13bd00;
        }
        > .game-review-cl--lightgreen {
            color: #94cf0b;
        }
        > .game-review-cl--orange {
            color: #fdda01;
        }
        > .game-review-cl--red {
            color: red;
        }
    }
}

.games-list-navbar {
    padding: 1rem;
    margin-top: 5rem;
    text-align: center;
    > .navbar-containers {
        width: 7rem;
        height: 7rem;
        transition: all 0.2s ease-in-out;
        > .navbar-text {
            margin-top: 0.7rem;
            color: white;
            font-weight: 500;
        }
        > .navbar-icons {
            margin-top: 0.5rem;
            color: white !important;
            width: 100%;
            height: 50%;
        }
    }
    > .navbar-containers:hover {
        border: solid 1px white;
        border-radius: 20%;
        transform: scale(1.1);
    }
}
