@import url(custom-bootstrap-colors.css);
@import url(fonts.css);

:root {
    --deep-orange: #FF5A09;
    --light-orange: #ec7f37;
}

html {
    margin: 0;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    /* font-family: Inter; */
}


/** COLORS */




/** ---- NAVBAR ---- */

.custom-navbar__icons {
    font-size: 3rem;
}
