/** -- IMPORT CSS MODULES -- */
@import url(custom-bootstrap.css);
@import url(fonts.css);
@import url(games-page.css);
@import url(footer.css);
@import url(work-in-progress.css);

/** -- GLOBALS RULES -- */
html {
    margin: 0;
}
body {
    height: 132.5vh;
    min-height: 132.5vh;
    margin: 0;
    padding: 0;
    font-family: "Poppins" !important;
    /* display: flex;
    flex-direction: column; */
}
/** Add shadows to all bootstrap btn */
.btn {
    border-radius: 4%;
    box-shadow:
        rgba(0, 0, 0, 0.07) 0px 1px 1px,
        rgba(0, 0, 0, 0.07) 0px 2px 2px,
        rgba(0, 0, 0, 0.07) 0px 4px 4px,
        rgba(0, 0, 0, 0.07) 0px 8px 8px,
        rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

/** -- REPRESENT THE HEADER ELEMENT -- */
.header-navbar {
    height: 5vh;
    > .siteIcon {
        > .svg {
            width: 2.5rem;
        }
        > .svg:hover {
            animation: rotate-hor-center 0.8s
                cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
        }
    }
    > .nav {
        > .list-item {
            > .link {
                font-size: 1rem;
                margin-left: 1.5rem;
                border-bottom: none;
                text-decoration: none;
            }
        }
    }
    > .header-navbar__searchBar {
        max-width: 225px;
        width: 100%;
        height: 100%;
        margin-left: 10rem;
        margin-right: 22rem;
        > .form {
            position: relative;
            height: 100%;
            > .input {
                width: 100%;
                height: 70%;
                padding-right: 55px;
                font-size: 15px;
                transition: border-color 0.2s ease;
                box-shadow:
                    rgba(0, 0, 0, 0.12) 0px 1px 3px,
                    rgba(0, 0, 0, 0.24) 0px 1px 2px;
            }
            > .input:focus {
                border-color: #dee2e6;
                box-shadow: none;
            }
            > .button {
                position: absolute;
                box-shadow: none;
                width: 17%;
                right: 5px;
                height: 55%;
                background-color: var(--bs-secondary);
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                transition: all 0.2s ease;
                > .icon {
                    width: 50%;
                    color: #6c757d;
                }
            }
        }
    }
    > .account-menu {
        > .icons {
            width: 2.7rem;
            transition: all 0.2s ease-in-out;
        }
    }
}

/** -- REPRESENT THE MAIN ELEMENT OF HOME PAGE -- */
.home-main {
    height: 95vh;
    padding-top: 10vh;
}
/** - Represent the title of the home page - */
.home-title {
    font-size: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;

    /** Start text effect */
    > .firstLink {
        position: relative;
        text-decoration: none;
        margin: 0 0.25em;
        font-weight: 700;
        animation: bounceInLeft 2s;
    }
    > .firstLink::before {
        content: "";
        background-color: var(--bs-secondary);
        position: absolute;
        left: 2px;
        bottom: 0.5rem;
        width: 100%;
        height: 1.5rem;
        z-index: -1;
        transition: all 0.3s ease-in-out;
    }
    > .firstLink:hover::before {
        bottom: 0;
        height: 100%;
    }
    /** Middle text effect */
    > .middleText {
        animation: bounceInDown 2.5s;
    }
    /** End text effect */
    > .secondLink {
        position: relative;
        display: inline-block;
        font-weight: 700;
        margin: 0 0.25em;
        overflow: hidden;
        animation: bounceInRight 3s;
    }
    > .secondLink::before,
    > .secondLink::after {
        content: "";
        position: absolute;
        width: 100%;
        left: 0;
    }
    > .secondLink::before {
        background-color: var(--bs-secondary);
        height: 2px;
        bottom: 0;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    }
    > .secondLink::after {
        content: attr(data-replace);
        height: 100%;
        top: 0;
        transform-origin: 100% 50%;
        transform: translate3d(200%, 0, 0);
        transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
        color: var(--bs-secondary);
    }
    > .secondLink:hover::after {
        transform: translate3d(0, 0, 0);
    }
    > .secondLink:hover::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
    }
    > .secondLink span {
        display: inline-block;
        transition: transform 0.3s cubic-bezier(0.76, 0, 0.24, 1);
    }
    > .secondLink:hover span {
        transform: translate3d(-200%, 0, 0);
    }
}
/** - Represent the video present on the home page - */
.home-video {
    margin-top: 6rem;
    margin-bottom: 7.5rem;
    animation: fadeIn;
    animation-duration: 3s;
    > .video-wrapper {
        width: 60rem;
        border-radius: 6rem;
        padding: 5px;
        background: linear-gradient(
            45deg,
            var(--bs-secondary) 0%,
            var(--bs-primary) 71%
        );
        box-shadow:
            rgba(0, 0, 0, 0.3) 0px 19px 38px,
            rgba(0, 0, 0, 0.22) 0px 15px 12px;
        display: inline-block;
    }
    > .video-wrapper {
        > .video {
            display: block;
            width: 100%;
            border-radius: 6rem;
        }
    }
}
/** - Represent the btn present on the home page - */
.home-button {
    animation: fadeInUpBig;
    animation-duration: 1.5s;
    > .btn {
        background-color: var(--bs-secondary);
        color: #ffffff;
        border: none;
        padding: 15px 30px;
        font-size: 3rem;
        font-weight: bold;
        border-radius: 30px;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        overflow: hidden;
        z-index: 1;
    }
    > .btn::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 300%;
        height: 300%;
        background-color: #ffffff;
        transition: all 0.3s ease;
        border-radius: 50%;
        z-index: -1;
        transform: translate(-50%, -50%) scale(0);
    }
    > .btn:hover::before {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.9;
    }
    > .btn:hover {
        box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
        transform: translateY(-5px);
        color: var(--bs-secondary);
    }
    > .btn:active::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0);
        animation: ripple 0.6s ease-out;
        z-index: -1;
    }
    > .btn::after {
        content: "";
        position: absolute;
        top: 0;
        left: -75%;
        width: 50%;
        height: 100%;
        background: linear-gradient(
            120deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0) 100%
        );
        transform: skewX(-25deg);
        transition: all 0.3s ease;
    }
    > .btn:hover::after {
        left: 100%;
        transition: all 0.5s ease;
    }
    @keyframes ripple {
        to {
            transform: translate(-50%, -50%) scale(4);
            opacity: 0;
        }
    }
}

/** -- REPRESENT THE MAIN ELEMENT OF THE REGISTER PAGE -- */
.register-main {
    height: 95vh;
    padding-bottom: 20vh;
    > .registerForm {
        animation: fadeInDown;
        animation-duration: 1.5s;
        border-radius: 4%;
        box-shadow:
            rgba(0, 0, 0, 0.07) 0px 1px 2px,
            rgba(0, 0, 0, 0.07) 0px 2px 4px,
            rgba(0, 0, 0, 0.07) 0px 4px 8px,
            rgba(0, 0, 0, 0.07) 0px 8px 16px,
            rgba(0, 0, 0, 0.07) 0px 16px 32px,
            rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
}

/** -- REPRESENT THE MAIN ELEMENT OF THE REGISTER PAGE -- */
.login-main {
    height: 95vh;
    padding-bottom: 20vh;
    > .loginForm {
        animation: fadeInDown;
        animation-duration: 1.5s;
        border-radius: 4%;
        box-shadow:
            rgba(0, 0, 0, 0.07) 0px 1px 2px,
            rgba(0, 0, 0, 0.07) 0px 2px 4px,
            rgba(0, 0, 0, 0.07) 0px 4px 8px,
            rgba(0, 0, 0, 0.07) 0px 8px 16px,
            rgba(0, 0, 0, 0.07) 0px 16px 32px,
            rgba(0, 0, 0, 0.07) 0px 32px 64px;
    }
}

/** -- REGISTRATION SUCCESS PAGE -- */
.registration-success-main {
    height: 95vh;
    padding-bottom: 20vh;
    > .card {
        height: 41vh;
        border-radius: 4%;
        box-shadow:
            rgba(0, 0, 0, 0.07) 0px 1px 2px,
            rgba(0, 0, 0, 0.07) 0px 2px 4px,
            rgba(0, 0, 0, 0.07) 0px 4px 8px,
            rgba(0, 0, 0, 0.07) 0px 8px 16px,
            rgba(0, 0, 0, 0.07) 0px 16px 32px,
            rgba(0, 0, 0, 0.07) 0px 32px 64px;
        > .card-body {
            > .successIcon {
                animation: tada;
                animation-duration: 2s;
                font-size: 15rem;
            }
            > .title {
                animation: fadeIn;
                animation-duration: 1s;
            }
            > .text {
                animation: fadeIn;
                animation-duration: 1s;
            }
            > .btn {
                animation: fadeIn;
                animation-duration: 1s;
                background-color: var(--bs-primary);
            }
        }
    }
}

/** -- CUSTOM ANIMATIONS CLASSES FROM ANIMISTA.NET -- */
/** https://animista.net/ */
.rotate-center {
    animation: rotate-center 0.6s ease-in-out both;
}
@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
.rotate-hor-center {
    animation: rotate-hor-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
        both;
}
@keyframes rotate-hor-center {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(-360deg);
    }
}
.swing-in-top-fwd {
    animation: swing-in-top-fwd 3s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
@keyframes swing-in-top-fwd {
    0% {
        transform: rotateX(-100deg);
        transform-origin: top;
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}
.text-shadow-drop-bottom:hover {
    animation: text-shadow-drop-bottom 0.6s both;
}
@keyframes text-shadow-drop-bottom {
    0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        text-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
    }
}
