/** -- REPRESENT FOOTER ELEMENT -- */
.footer-main {
    height: 41vh;
    bottom: 0;
}

/** -- TOP SECTION OF THE FOOTER -- */
.footer-top-div {
    height: 5vh;
    > .footer-socials {
        > .icons {
            text-decoration: none;
            > .svg {
                width: 1.5rem;
            }
        }
    }
}

/** -- MIDDLE SECTION OF THE FOOTER -- */
.footer-middle-div {
    height: 30vh;
    & .content-div {
        font-size: 1rem;
        > .title {
            margin-bottom: 0;
        }
        > .line {
            width: 60px;
            opacity: 1;
            border: solid 1px var(--bs-secondary);
            color: var(--bs-secondary);
            background-color: var(--bs-secondary);
        }
        > .link {
            margin-bottom: 16px;
            color: white;
        }
        > .link:hover {
            color: var(--bs-secondary);
        }
        > .txt {
            > .svg {
                display: inline;
                width: 1.3rem;
                padding-bottom: 1px;
            }
        }
    }
    & .footer-site-icon {
        > .link {
            > .svg {
                width: 6rem;
            }
            > .svg:hover {
                animation: heartBeat;
                animation-duration: 2s;
            }
        }
    }
}

/** -- BOTTOM SECTION OF THE FOOTER -- */
.footer-bottom-div {
    background-color: rgba(0, 0, 0, 0.2);
    height: 5vh;
    z-index: 10000;
    font-family: 0.8rem;
}

@media only screen and (max-width: 1921px) and (min-width: 920px) {
    /** -- TOP SECTION OF THE FOOTER -- */
    .footer-top-div {
        height: 6vh;
        > .footer-socials {
            > .icons {
                text-decoration: none;
                > .svg {
                    width: 1.25rem;
                }
            }
        }
    }
    .footer-middle-div {
        height: 35vh;
        & .content-div {
            font-size: 1rem;
            > .title {
                margin-bottom: 0;
            }
            > .line {
                width: 60px;
                opacity: 1;
                border: solid 1px var(--bs-secondary);
                color: var(--bs-secondary);
                background-color: var(--bs-secondary);
            }
            > .link {
                margin-bottom: 16px;
                color: white;
            }
            > .link:hover {
                color: var(--bs-secondary);
            }
            > .txt {
                > .svg {
                    display: inline;
                    width: 1rem;
                    padding-bottom: 1px;
                }
            }
        }
        & .footer-site-icon {
            > .link {
                > .svg {
                    width: 5rem;
                }
                > .svg:hover {
                    animation: heartBeat;
                    animation-duration: 2s;
                }
            }
        }
    }
    /** -- BOTTOM SECTION OF THE FOOTER -- */
    .footer-bottom-div {
        background-color: rgba(0, 0, 0, 0.2);
        height: 5vh;
        z-index: 10000;
        font-family: 0.8rem;
    }
}
